.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 42px;
}

.square.target {
    background: #f00;
}

.question {
    font-size:48px;
    font-weight: bold;
}

.square.button {
    height: 68px;
    width: 84px;
    font-size: 48px;
    line-height: 70px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}